{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "dynamicImport": true,
      "decorators": false
    },
    "transform": {},
    "target": "es2022",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false,
    "experimental": {
      "keepImportAssertions": true
    }
  },
  "module": {
    "type": "es6",
    "strict": true,
    "strictMode": false,
    "noInterop": false,
    "lazy": false
  },
  "minify": false,
  "inlineSourcesContent": true
}